$white: var(--white);
$black: var(--black);
$blue: var(--blue);
$purple: var(--purple);
$green: var(--green);

$background: var(--background);

$primary-100: var(--primary-100);
$primary-300: var(--primary-300);
$primary-800: var(--primary-800);
$primary-900: var(--primary-900);

$secondary-900: var(--secondary-900);

$green-100: var(--green-100);
$green-400: var(--green-400);
$green-900: var(--green-900);

$red-300: var(--red-300);
$red-900: var(--red-900);

$black-100: var(--black-100);
$black-200: var(--black-200);
$black-300: var(--black-300);
$black-400: var(--black-400);
$black-500: var(--black-500);
$black-600: var(--black-600);
$black-700: var(--black-700);
$black-800: var(--black-800);

$system-error-text: var(--system-error-text);
$system-error-background: var(--system-error-background);
$grayscale: var(--grayscale);
$pressed: var(--pressed)
